<div class="container form-container">
  <p-growl [value]="msgs"></p-growl>
  <div class="ask">
    <button (click)="signUp()">Create Customer</button>
    <p>Don't have a passport ?</p>
  </div>

  <div class="maketing">
    <h2>Sign in to BeerClub</h2>
    <h3>Enter your details below</h3>
  </div>

  <form (ngSubmit)="signIn()">
    <div class="form-group">
      <label for="email">Email: </label><br/>
      <input pInputText type="text" class="form-control" id="email" [(ngModel)]="user.email" name="email" placeholder="julie@example.com" required>
    </div>
    <br/>
    <div class="form-group">
      <label for="password">Password: </label>
      <a routerLink="/forgot-password">Forgot password ?</a>
      <br/>
      <input pInputText type="password" class="form-control" id="password" [(ngModel)]="user.password" name="password" placeholder="6+ characters" required>
    </div>
    <br/>
    <br/>
    <button pButton class="sign-in-btn" type="submit" label="Sign in"></button>
  </form>
</div>
<p-growl [value]="msgs"></p-growl>
