<div class="topnav">
  <span class="logo"><a class="active" href="#"><img src="{{ '/assets/beer-picture/craft-beer-logo.png'}}" alt=""></a></span>
  <span *ngIf="user"><a href="#" (click)="logOut()"><i class="fa fa-user"></i> Log out</a></span>
  <span *ngIf="user"><a href="#"><i class="fa fa-user"></i>{{user.email}}</a></span>
  <span *ngIf="!user"><a href="/sign-in/admin"><i class="fa fa-user"></i> Login </a></span>
  <span *ngIf="user && user.admin_mode"><a href="/sign-up/admin"><i class="fa fa-user"></i>New Account</a></span>
  <span *ngIf="!user"><a href="/sign-in/customer"><i class="fa fa-user"></i> See My Passport </a></span>
  <span *ngIf="user && user.admin_mode"><a href="/beer"><i class="fa fa-user"></i> Create Beer </a></span>
  <span *ngIf="user && user.admin_mode"><a href="/passports"><i class="fa fa-heart"></i> PassPorts</a></span>
  <span *ngIf="user && !user.admin_mode"><a href="/passport/{{user['passport']['id']}}"><i class="fa fa-heart"></i> My PassPort </a></span>
  <span *ngIf="user"><a href="/chat/"><i class="fa fa-heart"></i> Chat </a></span>
</div>
<p-growl [value]="msgs"></p-growl>
