<div class="header-area">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <div class="user-menu">
          <ul>
            <span style="float: right">
              <span *ngIf="user">
                <li><a href="#"><i class="fa fa-user"></i>{{user.email}}</a></li>
                <li><a href="#" (click)="logOut()"><i class="fa fa-user"></i> Log out</a></li>
              </span>

              <span *ngIf="!user">
                <li><a href="/sign-up/customer"><i class="fa fa-user"></i> See My Passport</a></li>
                  <li><a href="/sign-in/admin"><i class="fa fa-user"></i> Login</a></li>
              </span>
            </span>

            <div class="">
              <li><a href="#"><i class="fa fa-heart"></i> DashBoard</a></li>
              <li><a href="/beer"><i class="fa fa-user"></i> Create Beer </a></li>
              <li class="logo"><a href="#">BEER CLUB</a></li>
            </div>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<p-growl [value]="msgs"></p-growl>
