.header-area {
  background: none repeat scroll 0 0 #f4f4f4;
  margin-bottom: 2em;

  a {
    color: #888;
  }
  .user-menu ul {
    list-style: outside none none;
    margin-top: 0;
    padding: 0;
    height: 80px;
    span{
      display: inline-block;
    }
    .user{
      margin-top: 1em;
      float: right;
    }
  }
  .user-menu li {
    display: inline-block;
    :hover{
      background: green;
      color: white;
    }
  }
  .logo{
    display: inline-block;;
    margin-left: 30%;
    img{
      width: 80px;
      padding-top: 1em;
    }
  }
  .user-menu li a {
    display: block;
    font-size: 18px;
    margin-right: 5px;
    padding: 10px;
  }
  .user-menu li a i.fa {
    margin-right: 5px;
  }
}
