button{
  border: 0px;
  width: 167px;
  height: 40px;
  background-color: #0066CC;
  border-radius: 3px;
  &.button-create{
    font-family: Lato;
    font-size: 16px;
    text-align: center;
    line-height: 24px;
    color: #FFFFFF;
    cursor: pointer;
  }
  margin-bottom: 1em;
}

/deep/.ui-accordion .ui-accordion-header{
  max-width: 250px;
  margin-bottom: 10px;
}
/deep/ .ui-dialog {
    width: 350px;
    .ui-dialog-title {
        font-family: Lato;
        font-size: 16px !important;
        line-height: 24px;
        color: rgba(54,54,54,0.7);
    }
    .fa {
        -webkit-text-stroke: 1px whitesmoke;
    }
    .ui-dialog-titlebar-close {
        border: 1px solid transparent;
    }
    .ui-dialog-buttonpane {
        border: 0;
        text-align: -webkit-center;
        padding: 0 !important;
        margin-top: 1em;
        button{
            font-family: Lato;
            font-size: 16px !important;
            line-height: 24px;
            width: 100px;
            display: inline-block;
            float: none !important;
            color: aliceblue;
        }
    }
    .ui-fluid .ui-inputtext {
        font-family: Lato;
        font-size: 16px !important;
        line-height: 24px;
        cursor: pointer;
    }
    .ui-grid{
        font-size: 16px !important;
        line-height: 24px;
        font-family: Lato;
        background: transparent;
        border: none;
        input{
            width: 100%;
            height: 28px;
        }
    }
}
