ul {
  padding-left: 0px;
  list-style: none;
}
.messages-list {
  max-height: 200px;
  overflow-y: auto;
  overflow-x: hidden;
}


.message-sent {
  position: relative;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
  margin: 5px 20px;
  padding: 10px;
  float: right;
}


.message-received {
  background-color: #F1F0F0;
  border-color: #EEEEEE;
  margin: 5px 20px;
  padding: 10px;
  float: left;
}
.panel {
  margin-bottom: 20px;
  background-color: #fff;
  width: 75%;
  margin: auto;
  border: 1px solid #ddd;
  border-radius: 4px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  padding: 5px;
  text-align: center;
}

.panel-default {
  border-color: #ddd;
  padding-bottom: 5px;
  .panel-heading{
    padding: 10px 15px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    border-bottom: 1px solid transparent;
    background-color: blue;
  }
  .panel-body{
    text-align: left !important;
  }
}
