<div class="row">
  <div class="col-md-9">
    <ul id="conversations-list">
      <span *ngFor="let conversation of conversations">
        <app-conversation [conversation]="conversation" [receiveMessage]="message"></app-conversation>
      </span>
    </ul>
  </div>

  <div class="col-md-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">User list</h3>
      </div>
      <div class="panel-body">
        <ul>
          <li *ngFor="let user of users">
            <a href="javascript:void(0);" (click)="createConversation(user.id)" >{{user.email}}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
