<div class="content">
  <p>Passport</p>
  <p *ngIf="passport && passport.customer">
    <label for="">Customer's Name: {{passport.customer.name}}</label>
    <label for="">Customer's Email: {{passport.customer.email}}</label>
  </p>
  <div class="search-group">
      <span class="fa fa-search"></span>
      <input class="search-text" type="text" [(ngModel)]="searchBeerParten" (keyup)="search()" placeholder="Search Beer's name"/>
  </div>

  <div class="beers">
    <p-tabView (onChange)="onTabChange($event.index)">
      <p-tabPanel header="All - {{beers.length}}">
        <div class="job-members">
          <ul class="users-list">
            <li *ngFor="let beer of _beers">
            <button *ngIf="isAdd(beer.id)" pButton type="button" (click)="removeFromPassport(beer.id)" icon="fa-minus-circle"></button>
            <button *ngIf="!isAdd(beer.id)" pButton type="button" (click)="addToPassport(beer.id)" icon="fa-plus-circle"></button>
              <span *ngIf="beer" (click)="showBeer(beer.id)">
                <img src="{{ '/assets/beer-picture/default-beer.png'}}">
                <a class="users-list-name" href="#">{{beer.name}}</a>
              </span>
            </li>
          </ul>
        </div>
     </p-tabPanel>

      <p-tabPanel header="Drank - {{beers.length - beers_new.length}}">
         <ul class="users-list" >
            <li *ngFor="let beer of _beers">
              <button pButton type="button" (click)="removeFromPassport(beer.id)" icon="fa-minus-circle"></button>
              <span *ngIf="beer" (click)="showBeer(beer.id)">
                <img src="{{ '/assets/beer-picture/default-beer.png'}}">
                <a class="users-list-name" href="#">{{beer.name}}</a>
              </span>
            </li>
          </ul>
      </p-tabPanel>

      <p-tabPanel header="New - {{beers_new.length}}">
          <ul class="users-list">
            <li *ngFor="let beer of _beers">
              <button pButton type="button" (click)="addToPassport(beer.id)" icon="fa-plus-circle"></button>
              <span *ngIf="beer" (click)="showBeer(beer.id)">
                <img src="{{ '/assets/beer-picture/default-beer.png'}}">
                <a class="users-list-name" href="#">{{beer.name}}</a>
              </span>
            </li>
          </ul>
      </p-tabPanel>
    </p-tabView>
  </div>
</div>
<p-growl [value]="msgs"></p-growl>
